body {
    background-image: url('../img/fine.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .logo-ccl {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .enlace-azul {
    color: #ffffff;
    text-decoration: none;
  }
  
  .enlace-azul:hover {
    color: #F52B6AB5;
  }
  